@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body{
	background: rgba(0, 0, 0, .76);
}

input:matches([type="submit"]){
	width: 100%;
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
	font-family: 'Architects Daughter', cursive;
	border: 1px solid;
	background: #fff;
}
input:matches([type="submit"]):hover{
	color: #fff;
	background: #000;
}
input:matches([type="text"]){
	text-align: center;
	font-family: 'Architects Daughter', cursive;
}

#main{
	position: absolute;
	right: 10px;

	font-family: 'Architects Daughter', cursive;
	width: 85%;
	max-width: 1200px;
	padding: 10px;
	/*border: 5px solid #222;*/
}

footer{
    margin-top: 10px;
    border-top: 1px solid #cfcfcf;
	text-align:right;
	font-style:italics;
}
#title{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#title a img{
	width: 12%;
	min-width: 100px;
}
.logo{
	margin-right: 100px;
}

.storyTag{
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
	padding: 3px;
	background: rgba(255,255,255,.3);
	position: relative;
	top:-15px;
	text-align: right;
}
.story{
	box-shadow: 5px 5px 1px rgba(0, 0, 0, .3);
	margin: 5px;
	padding: 30px;
	display: block;	min-width: 150px;
	max-width: 250px;
	text-align: center;
}
.story p{
	text-align: center;
}
.story a{
	font-weight: 900;
	text-decoration: none;
	color: black;
}
.content{
	font-size: 17px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}



.unlike, .like{
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	margin-right: 2%;
	margin-left: 2%;
	color: rgba(0, 0, 0, .7);
}

#rm_filters{
	display:fixed; 
	position:fixed; 
	bottom:40px; 
	left: 10px;
}
#rm_filters a{
	color: #fff; 
	text-decoration:none; 
	font-size:20px;
}
#rm_filters a:hover{
	color: #dd3333;
}


@media screen and (max-width: 600px) {
	.content{
		flex-direction: column;
	}
	.story{
	max-width: none;
	}
}
@media screen and (min-width: 600px) {
	.content{
		align-items: baseline;
	}
}